
.italiana-regular {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lavishly-yours-regular {
    font-family: "Lavishly Yours", cursive;
    font-weight: 400;
    font-style: normal;
}

.jacques-francois-regular {
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    margin: 0;
    padding: 0; 
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.home {
    background-color: #0C3B2E;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: relative;
}

.home h1 {
    top:10px;
    margin-left: 10%;
    font-size: 150px;
    font-family: "Italiana";
    color:#CAD884;
    margin-bottom: 1px;
}

.home p{
    margin-left: 10%;
    margin-top:0;
    font-size: 40px;
    font-family: "Lavishly Yours";
    color: #CAD884;
}

.button{
    margin-left:10% ;
}
.home button{
    margin: 10px;
    background-color:#0C3B2E ;
    color:#CAD884;
    padding: 20px 40px;
    border-radius: 25px;
    border-color:#CAD884 ;
    font-family: "Italiana";
    font-size: 20px;
}

.home button:hover {
    transform: scale(1.1);
    padding: 25px 45px; 
    transition: 0.5s;
}

.home .main {
    position: absolute;
    top:0;
    right: 0;
    width: 50%;
    height: 100vh; 
    object-fit: cover; 
}

.sign-up{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #b79027;
    /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),; */
}

.sign-up h1{
    margin-left: 10%;
    font-size: 80px;
    font-family: "Italiana";
    color: black;
    margin-bottom: 1px;
}

label{
    margin-left: 10%;
    font-family: "Jacques Francois";
    font-size: 20px;
}

input{
    margin-left: 10%;
    border:none;
    width:450px;
    height:50px;
    border-radius:10px;
}

button{
    margin-top: 2%;
    margin-left: 20%;
    color: white;
    padding: 20px 40px;
    border-radius: 25px;
    background-color:#0C3B2E ;
    font-family: "Italiana";
    font-size: 20px;
}

button:hover {
    transform: scale(1.1);
    padding: 25px 45px;
    transition: 0.5s; 
}

.side{
    height: 650px;
    width:500px;
    border-radius: 315.5px;
    position: absolute;
    top: 20px;
    right: 60px;
    object-fit: cover;
}

.log-in{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(./assets/cover.jpg);
    background-size:cover ;
}

.log-in h1{
    margin-top: 10%;
    margin-left: 43%;
    font-size: 80px;
    font-family: "Italiana";
    color: black;
    margin-bottom: 1px;
}

.log-in label{
    margin-left: 35%;
    font-family: "Jacques Francois";
    font-size: 20px;
}

.log-in input{
    margin-left: 35%;
    border:none;
    width:450px;
    height:50px;
    border-radius:10px;
}

.log-in button{
    margin-top: 2%;
    margin-left: 43%;
    color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 25px;
    background-color:#0C3B2E ;
    font-family: "Italiana";
    font-size: 20px;
}
